---
import { transform } from "astro:schema";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import "../styles/variables.css";
import assert from "node:assert/strict";

interface Props {
  lang: string;
  url: string; // url no locale prefix
}

const { lang, url } = Astro.props;

const navItems = [
  { name: "nav.profile", href: "" },
  { name: "nav.blog", href: "blog" },
  { name: "nav.links", href: "links" },
  { name: "nav.milestone", href: "milestone" },
];

const translations = {
  en: {
    "nav.profile": "Profile",
    "nav.blog": "Blog",
    "nav.links": "Links",
    "nav.milestone": "Milestone",
  },
  zh: {
    "nav.profile": "个人主页",
    "nav.blog": "博客文章",
    "nav.links": "朋友们",
    "nav.milestone": "大事记",
  },
};

assert(lang in translations);
const t = translations[lang as keyof typeof translations];
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>CodeCyrus - Think twice, code once.</title>
    <script is:inline>
      const setDarkMode = () => {
        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }
          return "light";
        })();
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
        window.localStorage.setItem("theme", theme);
      };

      setDarkMode();
      document.addEventListener("astro:after-swap", setDarkMode);
    </script>
  </head>
  <body>
    <Navbar
      logoHref=""
      lang={lang}
      navItems={navItems}
      translation={t}
      url={url}
    />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
</style>
