---
import Navbar from "../components/Navbar.astro";
import NavLink from "../components/NavLink.astro";
import "../styles/global.css";
import "../styles/variables.css";
import { type LanguageKey } from "../lib/i18n";

interface Props {
  lang: LanguageKey;
  localeLinks: {
    lang: LanguageKey;
    href: string;
  }[];
}

const { lang, localeLinks } = Astro.props;
const t = {
  en: {
    logoHref: "/en",
    navItems: [
      { name: "profile", text: "Profile", href: "/en" },
      { name: "blog", text: "Blog", href: "/en/blog" },
      { name: "links", text: "Links", href: "/en/links" },
      { name: "milestone", text: "Milestone", href: "/en/milestone" },
      {
        name: "analytics",
        text: "Analytics",
        href: "https://cloud.umami.is/analytics/us/share/IgblfKF8IflGMMcO",
        external: true,
      },
    ],
  },
  zh: {
    logoHref: "/zh",
    navItems: [
      { name: "profile", text: "个人主页", href: "/zh" },
      { name: "blog", text: "博客", href: "/zh/blog" },
      { name: "links", text: "朋友们", href: "/zh/links" },
      { name: "milestone", text: "大事记", href: "/zh/milestone" },
      {
        name: "analytics",
        text: "统计",
        href: "https://cloud.umami.is/analytics/us/share/IgblfKF8IflGMMcO",
        external: true,
      },
    ],
  },
}[lang];
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.min.css"
      integrity="sha384-UA8juhPf75SzzAMA/4fo3yOU7sBJ0om7SCD2GHq0fZqZco6tr1UCV7nUbk9J90JM"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>CodeCyrus - Think twice, code once.</title>
    <script is:inline>
      const setDarkMode = () => {
        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }
          return "light";
        })();
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
        window.localStorage.setItem("theme", theme);
      };

      setDarkMode();
      document.addEventListener("astro:after-swap", setDarkMode);
    </script>
  </head>
  <body>
    <Navbar logoHref={t.logoHref} lang={lang} localeLinks={localeLinks}>
      {
        t.navItems.map((item) => (
          <NavLink
            href={item.href}
            isActive={!item.external && Astro.url.pathname == item.href}
            external={item.external}
          >
            {item.text}
          </NavLink>
        ))
      }
    </Navbar>
    <main>
      <slot />
    </main>
  </body>
</html>
<style>
  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
</style>
